.status {
  padding: 4px;
  border-radius: 20px;
  display: flex;
  width: min-content;
  margin: 0 auto;
}

.platforms {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.platform {
  display: block;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  font-family: 'Montserrat';
  letter-spacing: 0.8px;
  text-decoration: none;
  user-select: none;
  transition: filter .3s;
  color: rgb(90, 90, 90);
  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
  &__show {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform .3s;
    gap: 0.5rem;
    &:hover{
      transform: scale(1.1);
    }
    &:active{
      transform: scale(0.9);
    }
  }
}
.link-bitrix{
  cursor: pointer;
  color: rgb(7 134 243);
  &:hover{
    text-decoration: underline;
  }
}
.approved {
  background-color: #BBED21;
}

.pending {
  background-color: #d5d5d5;
  cursor: default;
}

.denied {
  color: #fff;
  cursor: default;
  background-color: #f75252;
}